In [1]:
import pandas as pd

In [11]:
df1 = pd.read_csv("../Datasets/Master_Pixstory_Dataset_EXTRACT_ANALYSIS.csv")


df2 = df1.drop(columns=[col for col in df1.columns if col not in ['Date (No Timestamp)', 'GeoTopic Name','toxicity']])

# # Print all column names
print(df1.columns)

df2

Index(['Dataset Index', 'Story Primary ID', 'Story ID', 'User Primary ID',
       'User ID', 'Gender', 'Age', 'Title', 'Narrative', 'Media',
       'Account Created Date', 'Date (No Timestamp)', 'Interest',
       'Sports Events', 'Associated Film Festivals', 'Hate Speech Flag',
       'Hate Speech Detected', 'Year_Quarter', 'Snapchat_Quarterly_Revenue',
       'Snapchat_Quarterly_DAUs', 'Snapchat_Closing_Stock_Price',
       'New COVID Cases', 'New Deaths', 'New Vaccinations',
       'YouTube Trending Video Title', 'YouTube Trending Video Channel',
       'YouTube Trending Video Category', 'YouTube Trending Video Views',
       'YouTube Trending Video Likes', 'is_sarcastic', 'Narrative TikaDetect',
       'Title TikaDetect', 'Narrative LangDetect', 'Title LangDetect',
       'Translated Narrative', 'Translated Title', 'GeoTopic Name',
       'GeoTopic Latitude', 'GeoTopic Longitude', 'caption_generation',
       'object_recognition', 'toxicity', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'sexual_explicit'],
      dtype='object')

      Date (No Timestamp)  GeoTopic Name  toxicity
0              2020-01-12         Barbie  0.003291
1              2020-01-12            NaN  0.094338
2              2020-01-12            NaN  0.108033
3              2020-01-12            NaN  0.004665
4              2020-02-12  United States  0.000394
...                   ...            ...       ...
95003          2022-12-08            NaN  0.011032
95004          2022-12-08            NaN  0.011032
95005          2022-12-08            NaN  0.011032
95006          2022-12-08            NaN  0.011032
95007          2022-12-08    Love County  0.011032

[95008 rows x 3 columns]

In [12]:

# Create a list of the 50 US states
us_states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

# Filter df2 to only show rows that have one of the US 50 states in the "Geotopic Name" column
df2_states = df2[df2['GeoTopic Name'].isin(us_states)]

df2_states

      Date (No Timestamp)   GeoTopic Name  toxicity
7              2020-11-17         Florida  0.044024
27             2020-11-17         Florida  0.044024
134            2020-11-17        Arkansas  0.000632
136            2020-11-17  South Carolina  0.002691
138            2020-11-17            Iowa  0.023418
...                   ...             ...       ...
94561          2022-12-01        New York  0.011032
94566          2022-12-01        New York  0.011032
94581          2022-12-01        New York  0.011032
94599          2022-12-01         Montana  0.011032
94600          2022-12-01        New York  0.011032

[1201 rows x 3 columns]

In [27]:

# Group df2 by "Geotopic Name" and calculate the mean of the "toxicity" column for each state
df3 = df2_states.groupby("GeoTopic Name")["toxicity"].mean().reset_index()

# Rename the "Geotopic Name" column to "state" for clarity
df3 = df3.rename(columns={"GeoTopic Name": "state"})

df3 = df3.rename(columns={"toxicity": "avg_toxicity"})


#normalize toxicity scores
df3['avg_toxicity'] = df3['avg_toxicity']*1000

# Add a new column called "toxicity_rank" that ranks the "avg_toxicity" column for each state
df3["toxicity_rank"] = df3["avg_toxicity"].rank()

df3

             state  avg_toxicity  toxicity_rank
0          Alabama      5.727018           22.0
1           Alaska      6.506095           24.0
2          Arizona     23.495279           45.0
3         Arkansas      8.597502           27.0
4       California     19.461216           40.0
5         Colorado      1.498625            9.0
6      Connecticut     10.936800           29.0
7         Delaware      2.670355           15.0
8          Florida      6.949107           25.0
9          Georgia     13.286808           33.0
10          Hawaii     12.852541           31.0
11           Idaho      1.240292            8.0
12        Illinois     10.226860           28.0
13         Indiana      4.714648           19.0
14            Iowa     21.774516           43.0
15          Kansas     40.664567           46.0
16        Kentucky      4.346378           18.0
17       Louisiana      2.986340           16.0
18           Maine      5.467876           21.0
19        Maryland      0.687493            4.0
20   Massachusetts    108.414565           48.0
21        Michigan      2.003011           12.0
22       Minnesota     22.291412           44.0
23     Mississippi     21.493164           42.0
24        Missouri      0.997499            5.0
25         Montana      2.161869           13.0
26        Nebraska      1.528273           10.0
27          Nevada      0.436341            1.0
28   New Hampshire     82.309920           47.0
29      New Jersey      6.075789           23.0
30      New Mexico     16.711215           38.0
31        New York     11.194141           30.0
32  North Carolina      7.630737           26.0
33    North Dakota     18.010369           39.0
34            Ohio    110.820729           49.0
35        Oklahoma      5.275972           20.0
36          Oregon      0.498530            2.0
37    Pennsylvania      1.848316           11.0
38    Rhode Island     15.824127           37.0
39  South Carolina      1.135472            6.0
40    South Dakota     20.756807           41.0
41       Tennessee     12.906011           32.0
42           Texas     14.377352           36.0
43            Utah     14.356527           35.0
44         Vermont      1.208186            7.0
45      Washington     13.736623           34.0
46   West Virginia      3.340107           17.0
47       Wisconsin      2.352258           14.0
48         Wyoming      0.656272            3.0

In [33]:


df_observable = df3.rename(columns={"avg_toxicity": "rate"})
df_observable = df3.rename(columns={"toxicity_rank": "rank"})
df_observable = df3.rename(columns={"state": "name"})


df_observable.to_csv('us_states_toxicity.csv', index=False)

In [32]:
# Calculate the range of values in the "rate" column
rate_range = df_observable["rate"].max() - df_observable["rate"].min()

# Print the resulting range
print(df_observable["rate"].max())
print(df_observable["rate"].min())

110.82072865714287
0.43634079