In [21]:
import pandas as pd
import json

In [11]:
df = pd.read_csv('../Datasets/Master_Pixstory_Dataset_EXTRACT_ANALYSIS.csv')

In [12]:
df.columns

Index(['Dataset Index', 'Story Primary ID', 'Story ID', 'User Primary ID',
       'User ID', 'Gender', 'Age', 'Title', 'Narrative', 'Media',
       'Account Created Date', 'Date (No Timestamp)', 'Interest',
       'Sports Events', 'Associated Film Festivals', 'Hate Speech Flag',
       'Hate Speech Detected', 'Year_Quarter', 'Snapchat_Quarterly_Revenue',
       'Snapchat_Quarterly_DAUs', 'Snapchat_Closing_Stock_Price',
       'New COVID Cases', 'New Deaths', 'New Vaccinations',
       'YouTube Trending Video Title', 'YouTube Trending Video Channel',
       'YouTube Trending Video Category', 'YouTube Trending Video Views',
       'YouTube Trending Video Likes', 'is_sarcastic', 'Narrative TikaDetect',
       'Title TikaDetect', 'Narrative LangDetect', 'Title LangDetect',
       'Translated Narrative', 'Translated Title', 'GeoTopic Name',
       'GeoTopic Latitude', 'GeoTopic Longitude', 'caption_generation',
       'object_recognition', 'toxicity', 'severe_toxicity', 'obscene',
       'identity_attack', 'insult', 'threat', 'sexual_explicit'],
      dtype='object')

'Dataset Index', 'Interest','GeoTopic Name', 'GeoTopic Latitude', 'GeoTopic Longitude',

In [13]:
df.head(5)

,Dataset Index,Story Primary ID,Story ID,User Primary ID,User ID,Gender,Age,Title,Narrative,Media,...,GeoTopic Longitude,caption_generation,object_recognition,toxicity,severe_toxicity,obscene,identity_attack,insult,threat,sexual_explicit
0,0,121169,STY1659426957,103,USR1606807023,female,34,Trend of the Year: Barbiecore,"The colour of the year is here, and it's *drum...",https://image.pixstory.com/Pixstory-image-1659...,...,-6.07477,a brown and white dog sitting on top of a wood...,"['knee pad', 'volleyball']",0.003291,0.000004,0.000117,0.000426,0.000694,0.000093,0.000090
1,1,127727,STY1660634861,103,USR1606807023,female,34,Abomination of the day,We Indians do love to bastardise our foods- Ch...,https://image.pixstory.com/Pixstory-image-1660...,...,NaN,a close up of a person holding a pair of scissors,"['monitor', 'screen, CRT screen']",0.094338,0.000035,0.001170,0.086759,0.010047,0.000366,0.000326
2,2,123665,STY1660027898,103,USR1606807023,female,34,Shameful headline in 2022,Can professors not have personal lives? \n\nAd...,https://image.pixstory.com/Pixstory-image-1660...,...,NaN,a group of people sitting on top of a wooden b...,"['envelope', 'jersey, T-shirt, tee shirt']",0.108033,0.000148,0.001451,0.010266,0.004490,0.001122,0.192428
3,3,130517,STY1661151635,103,USR1606807023,female,34,Woman lawyer arrested for abusing security guard,"She was recorded on video manhandling him, sho...",https://image.pixstory.com/Pixstory-image-1661...,...,NaN,a close up of a blue and white cake,"['lab coat, laboratory coat', 'stethoscope']",0.004665,0.000021,0.000157,0.002845,0.001316,0.000130,0.000475
4,4,125466,STY1660372361,109,USR1606851217,others,31,What is the Inflation Reduction Act?,The House passed the Inflation Reduction Act o...,https://image.pixstory.com/Pixstory-image-1660...,...,-98.50000,a bride and groom cutting their wedding cake .,"['soccer ball', 'jersey, T-shirt, tee shirt']",0.000394,0.000001,0.000030,0.000054,0.000130,0.000014,0.000011

In [14]:
# Select specific columns
selected_cols = ['Translated Narrative']
df_geoparser = df[selected_cols]

In [15]:
df_geoparser

                                    Translated Narrative
0      The colour of the year is here and it s drumro...
1      We Indians do love to bastardise our foods Chi...
2      Can professors not have personal lives Additio...
3      She was recorded on video manhandling him shou...
4      The House passed the Inflation Reduction Act o...
...                                                  ...
95003                                         MODR CLASS
95004  College life without a friend is useless Enjoy...
95005                                    Check this out
95006             Sheridan college HazelMcCallion Canpus
95007  Spending time in college with these two maddie...

[95008 rows x 1 columns]

In [16]:
# Randomly sample 1500 rows from the DataFrame and store it in a new DataFrame
df_geoparser_sampled = df_geoparser.sample(n=1500, random_state=42)

# Reset the index and drop the old index column
df_geoparser_sampled.reset_index(drop=True, inplace=True)

In [17]:
df_geoparser_sampled

                                   Translated Narrative
0     With the rising mistrust in our public educati...
1     Sometimes i wonder how it would be like to tou...
2                           Work hard for what you want
3     One of the best ways to celebrate this day and...
4     Aparajita Adhya celebrating Lakkhi puja in her...
...                                                 ...
1495  SS Lazio announces that it has definitively ac...
1496  Well well well Louis Tomlinson just teased us ...
1497              I love to play football and stay fit
1498  I have always believed that communication is t...
1499  Gennaro Gattuso the most difficult of them all...

[1500 rows x 1 columns]

In [22]:
# Convert DataFrame to a list of dictionaries
data = [{"text": row["Translated Narrative"], "id": str(index)} for index, row in df_geoparser_sampled.iterrows()]

# Export the list to a JSON file
with open('df_geoparser_sampled_narrative.json', 'w') as json_file:
    json.dump(data, json_file, ensure_ascii=False, indent=4)